@import "tailwindcss";

@theme {
  --color-background: #050505;
  --color-foreground: #ffffff;
  
  --font-sans: var(--font-geist-sans), sans-serif;
  --font-mono: var(--font-geist-mono), monospace;
  
  /* Custom Colors */
  --color-primary: #ffffff;
  --color-secondary: #a1a1a1;
  --color-accent: #333333;
}

/* Lenis Smooth Scroll */
html.lenis, body.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/* Global Reset */
body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Selection */
::selection {
  background-color: var(--color-foreground);
  color: var(--color-background);
}
